* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body * {
    font-family: 'Montserrat', sans-serif;
    line-height: 160%;
}

body {
    background-image: url(assets/fundo.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat ;
    background-color: #323a46;
}

header {
    padding-top: 32px;
    height: calc(120px + 32px)
}

header  div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #d64343 0%, #a51b1b 50.52%, #4d0000 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
}

header div:hover  {
    transform: scale(1.1)
}

header img {
    width: 100%;
    border-radius: 50%;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
}

section {
    text-align: center;
    color: white;
    background-image: linear-gradient(90deg, #d64343 0%, #a51b1b 50.52%, #4d0000 100%);
    padding-top: 4px;
    padding-bottom: 2px;
    border-radius: 10px;
}

section div {
    background-color: #262629;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section p {
    letter-spacing: -0.18000000715255737px;
    color: #C1C1C1;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 24px 0 auto;
}

.redes {
    justify-content: center;
}

.criado-por {
    color: white;
    text-align: center;
}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.2);
}

.meus-filmes img {
    width: 90px;
    border-radius: 8px;
}

.minhas-series img {
    width: 90px;
    border-radius: 8px;
}

/*animações*/

header div {
    animation: fromTop .7s backwards;
}

@keyframes fromTop {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

main section  {
    animation: fromBottom .7s .2s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2)  {
    animation-delay: .3s;
}

main section:nth-child(3){
    animation-delay: .6s;
}

footer {
    animation: fromBottom .6s .2s backwards;
    animation-delay: .8s;
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}